.header {
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: #3b49d1;
}

.pagination {
  display: flex;
  gap: 20px;
}

.styledNavLink {
  padding: 15px;
  display: flex;
  align-items: center;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}
